#General
RESTART_MODE=always
TZ=America/Sao_Paulo

#Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=pgadmin@gobyz.com
PGADMIN_DEFAULT_PASSWORD=admin

#Domains
DOMAIN_TESTLINK=Host(`testlink.localhost`)
DOMAIN_PORTAINER=Host(`portainer.localhost`)
DOMAIN_MAILHOG=Host(`mailhog.localhost`)

